.prof_title{
    color:rgb(83, 83, 83);
    text-shadow: 2px 2px 2px lightgrey;
    margin-top: 6px;
}
.prof_details{
    background-color: #e4e7ec;
    margin-top: 3px;
    border-left: 8px solid #ffd3e3;
}
h5{
    margin-left: 15px;
}