<div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
<ng-container matColumnDef="xyz">
  <th mat-header-cell *matHeaderCellDef><h4>Project Details</h4></th>
  <td mat-cell *matCellDef="let element" class='m-card-sub-title' data-label='Form type'>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h4>Project Name : {{element.projectname}}</h4>
        </mat-card-title>
        <mat-card-subtitle>
          <h5>Technology Stack: {{element.techstack}}</h5>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h6><b>Description : </b>{{element.description}}</h6>
        <b>Responsibilities : </b>
        <mat-list class="mat-list">
          <mat-list-item class="mat-list-item" *ngFor="let res of element.responsibility">
            <mat-icon matListIcon class="icon-display">lens</mat-icon>{{res}}            
          </mat-list-item>
        </mat-list>
        <!-- <div *ngIf="item===true; then git else nogit">
          <ng-template #git>
          <h6>GitHub Link:<a>{{element.git}}</a></h6>
          </ng-template>
          <ng-template #nogit></ng-template>
        </div> -->
        <h6>GitHub Link: <a class="link" href="{{element.git}}">{{element.git}}</a></h6>
      </mat-card-content>
    </mat-card>  
  </td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
