<!-- <<h1>Resume</h1>
<div class="card" style="width: 20rem;">
    <img alt="Card image cap" class="card-img-top" src="../assets/index.square-grid-loader.gif">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-actions">
      <a class="btn btn-outline-primary" href="#">Action</a>
      <a class="btn btn-outline-primary" href="#">Action</a>
    </div>
  </div> -->
  
 
  
         <div class="image">
            <img src="../../assets/Michelle+Chong's+Photo+3+(Please+credit+Michelle+as+Left+Profile+Artiste)+(2).jpg" alt="image">
         </div>
         <div class="about-content">
            <h4>About me:</h4>
            <hr>
            <p>{{Aboutme}}</p>
         </div>
         
       
    
 
    
