.edu_details{
    height:80px;
    width:350px;
    background-color: #e4e7ec;
    // background-image: linear-gradient(to right,#d5dae2,white);
    margin-top: 3px;
    border-left: 8px solid #ffd3e3;
}
h5{
    margin-left: 15px;
    margin-top: 2px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: 1px solid grey;
   
}
.education{
    color:rgb(83, 83, 83);
     text-shadow: 1px 1px 4px lightgrey;
}
.name{
    color:rgb(83, 83, 83);
    text-shadow: 2px 2px 2px lightgrey;
    margin-top: 8px;
}