.col-edit-left {
    
    //background-image: url("../../assets/istockphoto-1014681888-1024x1024.jpg");
    color: black;
    height: 840px;
    padding: 0px;
    margin:0px;
}

.col-edit-right {
    // background-image: linear-gradient(to right,white,#ffd3e3);
    // background-color: white;
    height: 840px;
    color:black;
}
.name{
    color:black;
}
.container{
    width:595px;
    height:842px;
    box-shadow: 2px 2px 4px grey;
}